.principal {
    background-color: $ColorBlue;

    .recuadro {
        border: solid 50px;
        border-radius: 15px;
        color: $ColorOrange;
        transition: 1.01s;
    }

    .recuadro:hover {
        transform: scale(1.05);
        transition: 1.01s;
    }

    .parrafo1 h1 {
        font-size: 50px;
        color: $ColorWhite;
    }

    .parrafo1 h2 {
        animation: bounce-in-fwd 1.9s both;
        color: $ColorOrange;
    }

    .parrafo1 p {
        font-size: 20px;
        color: $ColorOrange;
    }

    .parrafo1:hover {
        transform: scale(1.05);
        transition: 1.01s;
    }

    .parrafo1:hover h2 {
        transform: scale(1.05);
        transition: 1.01s;
        color: $ColorWhite;
    }
}

@keyframes bounce-in-fwd {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0
    }

    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1
    }

    55% {
        transform: scale(.7);
        animation-timing-function: ease-in
    }

    72% {
        transform: scale(1);
        animation-timing-function: ease-out
    }

    81% {
        transform: scale(.84);
        animation-timing-function: ease-in
    }

    89% {
        transform: scale(1);
        animation-timing-function: ease-out
    }

    95% {
        transform: scale(.95);
        animation-timing-function: ease-in
    }

    100% {
        transform: scale(1);
        animation-timing-function: ease-out
    }
}