.navbar {
    height: auto;
    background-color: $ColorOrange;

    .logo {
        height: 60px;
        width: auto;
    }

    .navbar-nav a {
        font-size: 25px;
        color: $ColorWhite;
    }

    .navbar-nav a:hover {
        color: black;
    }

    .nav-align {
        justify-content: right;
    }

}